{
  "extends": ["standard", "prettier"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaVersion": 12
  },
  "rules": {
    "camelcase": "off",
    "no-var": "error",
    "no-undef": 0,
    "object-shorthand": "error",
    "prefer-const": ["error", { "destructuring": "any" }],
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-object-spread": "error",
    "prefer-destructuring": "error",
    "prefer-numeric-literals": "error",
    "import/order": ["error", { "newlines-between": "always" }],
    "no-unused-vars": 0,// <script setup>
    "node/no-callback-literal": 0
  }
}